<ng-container *ngIf="this.selectedTable" >
  <mat-tab-group mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="selectTable($event)">
    <mat-tab *ngFor="let t of tables" [label]="'Table ' + t.number"></mat-tab>
  </mat-tab-group>

  <div class="dashboard-card mt-3" style="margin-left: 2em">
    <h4>Id de table</h4>
    <p>{{this.selectedTable.id}}</p>
  </div>

  <div class="dashboard-card mt-3" style="display: flex; margin-left: 2em; width: 60%">
    <ng-container>
      <span *ngIf="volumeValue>=50" class="material-icons-round">volume_up</span>
      <span *ngIf="volumeValue<50 && volumeValue != 0" class="material-icons-round">volume_down</span>
      <span *ngIf="volumeValue==0" class="material-icons-round">volume_mute</span>
    </ng-container>

    <mat-slider
      (input)="volumeChanged($event)"
      [value]="volumeValue"
      class="w-100"
      thumbLabel
      step="1"
      min="0"
      max="100"
      aria-label="units"></mat-slider>
  </div>

  <div class="example-box" cdkDrag *ngIf="this.showHelpAsked" [@slideInOut]>
    <mat-progress-bar mode="determinate" [value]="helpValue"></mat-progress-bar>
    <h2>Table 1 a besoin d'aide</h2>
  </div>

  <div class="dashboard-card mt-3" style="margin-left: 2em">
    <h1>Musique</h1>
    <mat-form-field appearance="fill" >
      <mat-label>Titre</mat-label>
      <mat-select (selectionChange)="this.chooseTrack($event)" [(ngModel)]="selectedTrack">
        <mat-option *ngFor="let track of tracks" [value]="track.value">
          {{track.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="dashboard-card mt-3" style="margin-left: 2em">
    <h1>Devices</h1>
    <div *ngFor="let t of this.tables">
      <span class="dot green"></span> <span class="ms-2">Table {{t.number}} - ({{t.id}})</span>
    </div>
  </div>

  <div style="width: 100%; display: flex; justify-content: center; margin-top: 100px">
    <img src="assets/table.png" style="width: 50%; ">
  </div>

</ng-container>

<ng-container *ngIf="!selectedTable">
  <mat-spinner></mat-spinner>
  Waiting for tables connection.
</ng-container>
