/* You can add global styles to this file, and also import other style files */
body {
  background: #3C3C3C;
}

html, body { height: 100%; background: #3C3C3C; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; color: white}
